.main,
.currency-input {
  align-items: center;
  display: flex;
  margin: 20px;
}

.input-1, .input-2 {
  border-radius: 5px;
  width: 160px !important;
}

.input-1 {
  margin-left: 1px;
}

.input-2 {
  margin-left: 65px;
}
